* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#root {
display: flex;
justify-content: center;

}

.App {
	width: 800px;
}

.post {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 15px;
	padding: 15px;
	border: 2px solid cadetblue;
}

.post-enter {
	/* opacity: 0; */
	transform: translateX(-350px);
 }

 .post-enter-active {
	transform: translateX(0px);
	transition: all 500ms ease-in; 
 }

 .post-exit {
	opacity: 1;
 }

 .post-exit-active {
	transform: translateX(-350px);
	transition: all 500ms ease-in;
 }

 .page__wrapper {
   margin-top: 15px;
   margin-bottom: 15px;
   display: flex;
	justify-content: center;
}

 .page {
	padding: 5px 15px;
	color: #fff;
	font-size: 14px;
	background:  teal;
	border: 1px solid teal;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 5px;
	transition: opacity 0.5s ease-in-out;
	margin-right: 5px;
}

.page:hover{
	opacity: 0.7;
}

.page__current {   
	padding: 5px 15px;
	color: black;
	font-size: 14px;
	background:  rgb(137, 237, 237);
	border: 1px solid teal;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 5px;
	transition: opacity 0.5s ease-in-out;
	margin-right: 5px;
   font-weight: bold;
}